site_name: Elizabeth Friedman - 25.2
site_desciption: Repositório destinado à matéria de Qualidade de Software 1, da FCTE-UnB.

nav:  
  - Início: index.md 
  - Fase 1: fase1/fase1.md
  - Fase 2: fase2/fase2.md
  - Fase 3: fase3/fase3.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg


theme:
  name: material
  favicon: assets/icon_mini.png
  logo: assets/icon_mini.png

  pallete:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode


    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode


    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

  features:
    - content.code.annotate
    - content.tabs.link
    - header.autohide
    - navigation.expand
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.tracking
  
  font:
    text: Roboto 
    code: Roboto Mono

extra_css:
  - stylesheets/styles.css